-- Farm IDs are Cuid2 text; replace legacy integer RPC signatures.

DROP FUNCTION IF EXISTS verify_farm_binding(integer);
DROP FUNCTION IF EXISTS verify_farm_binding(integer, text);
DROP FUNCTION IF EXISTS get_farm_sync_data(integer);
DROP FUNCTION IF EXISTS get_farm_sync_data(integer, text);
DROP FUNCTION IF EXISTS register_hardware_device(integer, text, text);

CREATE OR REPLACE FUNCTION verify_farm_binding(p_farm_id TEXT)
RETURNS BOOLEAN
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_email TEXT;
  v_user_id TEXT;
BEGIN
  IF NOT EXISTS (SELECT 1 FROM farms WHERE id = p_farm_id) THEN
    RETURN FALSE;
  END IF;

  v_email := auth.jwt() ->> 'email';
  IF v_email IS NULL THEN
    -- Activated desktop terminals sync with anon key (no OAuth JWT).
    RETURN TRUE;
  END IF;

  SELECT id INTO v_user_id FROM users WHERE email = v_email LIMIT 1;
  IF v_user_id IS NULL THEN
    RETURN FALSE;
  END IF;

  RETURN EXISTS (
    SELECT 1 FROM farms WHERE id = p_farm_id AND "userId" = v_user_id
  ) OR EXISTS (
    SELECT 1 FROM farm_members WHERE "farmId" = p_farm_id AND "userId" = v_user_id
  );
END;
$$;

CREATE OR REPLACE FUNCTION get_farm_sync_data(p_farm_id TEXT)
RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_email TEXT;
  v_user_id TEXT;
  v_authorized BOOLEAN := TRUE;
  result JSONB;
BEGIN
  IF NOT EXISTS (SELECT 1 FROM farms WHERE id = p_farm_id) THEN
    RETURN NULL;
  END IF;

  v_email := auth.jwt() ->> 'email';
  IF v_email IS NOT NULL THEN
    SELECT id INTO v_user_id FROM users WHERE email = v_email LIMIT 1;
    IF v_user_id IS NULL THEN
      RETURN NULL;
    END IF;
    SELECT (
      EXISTS (SELECT 1 FROM farms WHERE id = p_farm_id AND "userId" = v_user_id)
      OR EXISTS (SELECT 1 FROM farm_members WHERE "farmId" = p_farm_id AND "userId" = v_user_id)
    ) INTO v_authorized;
    IF NOT v_authorized THEN
      RETURN NULL;
    END IF;
  END IF;

  SELECT jsonb_build_object(
    'farm', (SELECT row_to_json(f) FROM farms f WHERE id = p_farm_id),
    'farm_settings', (SELECT row_to_json(fs) FROM farm_settings fs WHERE "farmId" = p_farm_id LIMIT 1),
    'users', COALESCE((
      SELECT jsonb_agg(u) FROM users u
      WHERE id IN (SELECT "userId" FROM farm_members WHERE "farmId" = p_farm_id)
         OR id = (SELECT "userId" FROM farms WHERE id = p_farm_id LIMIT 1)
    ), '[]'::jsonb),
    'houses', COALESCE((SELECT jsonb_agg(h) FROM houses h WHERE "farmId" = p_farm_id), '[]'::jsonb),
    'inventory', COALESCE((SELECT jsonb_agg(i) FROM inventory i WHERE "farmId" = p_farm_id), '[]'::jsonb),
    'batches', COALESCE((SELECT jsonb_agg(b) FROM batches b WHERE "farmId" = p_farm_id), '[]'::jsonb),
    'customers', COALESCE((SELECT jsonb_agg(c) FROM customers c WHERE "farmId" = p_farm_id), '[]'::jsonb)
  ) INTO result;

  RETURN result;
END;
$$;

CREATE OR REPLACE FUNCTION register_hardware_device(
  p_farm_id TEXT,
  p_device_id TEXT,
  p_device_name TEXT
)
RETURNS VOID
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_email TEXT;
  v_user_id TEXT;
BEGIN
  v_email := auth.jwt() ->> 'email';
  IF v_email IS NOT NULL THEN
    SELECT id INTO v_user_id FROM users WHERE email = v_email LIMIT 1;
  END IF;

  IF v_user_id IS NULL THEN
    SELECT "userId" INTO v_user_id FROM farms WHERE id = p_farm_id LIMIT 1;
  END IF;

  IF v_user_id IS NOT NULL THEN
    INSERT INTO device_registrations ("farmId", "userId", "deviceId", "deviceName", "registeredAt")
    VALUES (p_farm_id, v_user_id, p_device_id, p_device_name, NOW())
    ON CONFLICT DO NOTHING;
  END IF;
END;
$$;

GRANT EXECUTE ON FUNCTION verify_farm_binding(TEXT) TO anon, authenticated, service_role;
GRANT EXECUTE ON FUNCTION get_farm_sync_data(TEXT) TO anon, authenticated, service_role;
GRANT EXECUTE ON FUNCTION register_hardware_device(TEXT, TEXT, TEXT) TO anon, authenticated, service_role;
