-- Audit triggers (log_insert_fn etc.) run on batch/house inserts from the desktop client.
-- They failed with: permission denied for table insert_logs (42501)
-- because only postgres had table grants and triggers ran as SECURITY INVOKER.

-- 1. Run audit triggers as definer so insert_logs/delete_logs/audit_logs writes succeed.
CREATE OR REPLACE FUNCTION public.log_insert_fn()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $function$
DECLARE
  v_user_id TEXT;
  v_farm_id TEXT;
BEGIN
  v_user_id := COALESCE(
    NULLIF(current_setting('app.current_user_id', true), ''),
    to_jsonb(NEW)->>'user_id',
    to_jsonb(NEW)->>'userId',
    'system'
  );
  v_farm_id := COALESCE(
    NULLIF(current_setting('app.current_farm_id', true), ''),
    to_jsonb(NEW)->>'farmId',
    to_jsonb(NEW)->>'farm_id'
  );

  BEGIN
    INSERT INTO insert_logs (user_id, farm_id, target_table, record_id)
    VALUES (v_user_id, v_farm_id, TG_TABLE_NAME, NEW.id::text);
  EXCEPTION WHEN OTHERS THEN
    RAISE WARNING 'insert_logs audit failed for %: %', TG_TABLE_NAME, SQLERRM;
  END;

  RETURN NEW;
END;
$function$;

CREATE OR REPLACE FUNCTION public.log_update_fn()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $function$
DECLARE
  v_user_id TEXT;
  v_farm_id TEXT;
  col_record RECORD;
  old_val TEXT;
  new_val TEXT;
BEGIN
  v_user_id := COALESCE(
    NULLIF(current_setting('app.current_user_id', true), ''),
    to_jsonb(NEW)->>'user_id',
    to_jsonb(NEW)->>'userId',
    'system'
  );
  v_farm_id := COALESCE(
    NULLIF(current_setting('app.current_farm_id', true), ''),
    to_jsonb(NEW)->>'farmId',
    to_jsonb(NEW)->>'farm_id'
  );

  FOR col_record IN
    SELECT column_name
    FROM information_schema.columns
    WHERE table_schema = 'public'
      AND table_name = TG_TABLE_NAME
      AND column_name NOT IN (
        'id', 'updated_at', 'updatedAt', 'created_at', 'createdAt',
        'farm_id', 'farmId', 'user_id', 'userId', 'synced'
      )
  LOOP
    EXECUTE format(
      'SELECT ($1).%I::text, ($2).%I::text',
      col_record.column_name,
      col_record.column_name
    )
    USING OLD, NEW
    INTO old_val, new_val;

    IF old_val IS DISTINCT FROM new_val THEN
      BEGIN
        INSERT INTO audit_logs (
          table_name, record_id, attribute_name, old_value, new_value,
          user_id, farm_id, reason
        )
        VALUES (
          TG_TABLE_NAME, NEW.id::text, col_record.column_name,
          old_val, new_val, v_user_id, v_farm_id, 'Automatic system audit'
        );
      EXCEPTION WHEN OTHERS THEN
        RAISE WARNING 'audit_logs update log failed for %.%: %',
          TG_TABLE_NAME, col_record.column_name, SQLERRM;
      END;
    END IF;
  END LOOP;

  RETURN NEW;
END;
$function$;

CREATE OR REPLACE FUNCTION public.log_delete_fn()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $function$
DECLARE
  header TEXT;
  vals TEXT;
  v_user_id TEXT;
  v_farm_id TEXT;
BEGIN
  SELECT string_agg(quote_ident(key), '|' ORDER BY key) INTO header
  FROM jsonb_each(to_jsonb(OLD));

  SELECT string_agg(quote_literal(coalesce(value, '')), '|' ORDER BY key) INTO vals
  FROM jsonb_each_text(to_jsonb(OLD));

  v_user_id := COALESCE(
    NULLIF(current_setting('app.current_user_id', true), ''),
    to_jsonb(OLD)->>'user_id',
    to_jsonb(OLD)->>'userId',
    'system'
  );
  v_farm_id := COALESCE(
    NULLIF(current_setting('app.current_farm_id', true), ''),
    to_jsonb(OLD)->>'farmId',
    to_jsonb(OLD)->>'farm_id'
  );

  BEGIN
    INSERT INTO delete_logs (user_id, farm_id, table_name, deleted_data_csv)
    VALUES (v_user_id, v_farm_id, TG_TABLE_NAME, header || E'\n' || vals);
  EXCEPTION WHEN OTHERS THEN
    RAISE WARNING 'delete_logs audit failed for %: %', TG_TABLE_NAME, SQLERRM;
  END;

  RETURN OLD;
END;
$function$;

-- 2. Allow API roles to read audit tables (desktop/web viewers).
GRANT USAGE ON SCHEMA public TO anon, authenticated;
GRANT SELECT, INSERT ON public.insert_logs TO anon, authenticated;
GRANT SELECT, INSERT ON public.delete_logs TO anon, authenticated;
GRANT SELECT, INSERT ON public.audit_logs TO anon, authenticated;
