-- Allow desktop terminal activation via anon key (read license, bind hardware).
ALTER TABLE device_registrations ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Allow anonymous license verification" ON device_registrations;

CREATE POLICY "Allow anonymous license verification"
ON device_registrations
FOR SELECT
TO anon
USING (true);

DROP POLICY IF EXISTS "Allow anonymous hardware pairing" ON device_registrations;

CREATE POLICY "Allow anonymous hardware pairing"
ON device_registrations
FOR UPDATE
TO anon
USING (true)
WITH CHECK (true);

GRANT SELECT, UPDATE ON TABLE public.device_registrations TO anon;
GRANT SELECT, UPDATE ON TABLE public.device_registrations TO authenticated;
